<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pujisudaryanto.tubesmbkelompok5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".info"
            android:exported="false" />
        <activity
            android:name=".Tab_Main"
            android:exported="true"></activity>
        <activity
            android:name=".Frag2_Pesan"
            android:exported="true" />
        <activity
            android:name=".Frag1_kontak"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailLaporanLainnya"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".editData" />
        <activity
            android:name=".LaporanLainnyaActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".TambahPengeluaranActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5131706815520893~3046650761" />
    </application>

</manifest>